Django
django-filter
django-model-utils
django-pipeline
django-polymorphic
django-suit
django-summernote
django-wpadmin
djangorestframework
futures
# sudo apt-get build-dep python-imaging
# sudo apt-get install libjpeg8 libjpeg62-dev libfreetype6 libfreetype6-dev
Pillow
# psycopg2
django-location-field