{% load staticfiles %}
{% load libs %}

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="{% url 'index' %}" class="site_title"><i class="fa fa-paw"></i>
                <span>Elder Caring</span></a>
        </div>
        <div class="clearfix"></div>
        <div class="profile">
            <div class="profile_pic">
                <img src="{% if user.member.photo %}{{ user.member.photo.url }}{% else %}{% static 'images/user.png' %}{% endif %}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Selamat datang,</span>

                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>

        <br/>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>&nbsp;</h3>
                <ul class="nav side-menu">
                    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Beranda</a></li>
                    <li><a href="{% url 'profile' %}">
                        <i class="fa fa-cog"></i>Profile</a>
                    </li>
                    {% if user.member.type != 'pj' %}
                    <li><a><i class="fa fa-newspaper-o"></i> Activity
                        <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">{% if user.member.type == 'rs' %}
                            <li><a href="{% url 'room' %}">Daftar Kamar</a></li>{% elif user.member.type == 'km' %}
                            <li><a href="{% url 'agenda' %}">Agenda</a></li>{% endif %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="sidebar-footer hidden-small">
            <a href="{% url 'logout' %}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle"
                       data-toggle="dropdown" aria-expanded="false">
                        <img src="{% if user.member.photo %}{{ user.member.photo.url }}{% else %}{% static 'images/user.png' %}{% endif %}" alt="">{{ user.first_name }} {{ user.last_name }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                        <li><a href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</div>
