{% extends 'base.html' %}
{% load upto %}
{% block 'title' %}Elder Caring | Dashboard{%endblock 'title' %}
{% block 'maincontent' %}
    <div class="right_col" role="main">
        <br/>

        <div class="">
            <div class="row">
                <div class="col-md-8">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Grafik Riwayat Kesehatan</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% if blood or heartrate or daily_condition %}
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="demo-container" style="height:280px">
                                    <div id="placeholder33x" class="demo-placeholder"></div>
                                </div>
                            </div>
                            {% elif active_elder %}
                            Orang tua belum mempunyai data riwayat kesehatan.
                            {% else %}
                            Silahkan tambahkan orang tua yang dirawat terlebih dahulu.
                            {% endif %}
                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Tips dan Info Seputar Care Giving</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <ul class="list-unstyled timeline">
                                <li>
                                    <div class="block">
                                        <div class="tags">
                                            <a href="" class="tag">
                                                <span>Tips</span>
                                            </a>
                                        </div>
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                            </h2>

                                            <div class="byline">
                                                <span>13 hours ago</span> by <a>Jane Smith</a>
                                            </div>
                                            <p class="excerpt">Film festivals used to be do-or-die moments for movie
                                                makers. They were where you met the producers that could fund your
                                                project, and if the buyers liked your flick, they’d pay to Fast-forward
                                                and… <a>Read&nbsp;More</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="tags">
                                            <a href="" class="tag">
                                                <span>Info</span>
                                            </a>
                                        </div>
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                            </h2>

                                            <div class="byline">
                                                <span>13 hours ago</span> by <a>Jane Smith</a>
                                            </div>
                                            <p class="excerpt">Film festivals used to be do-or-die moments for movie
                                                makers. They were where you met the producers that could fund your
                                                project, and if the buyers liked your flick, they’d pay to Fast-forward
                                                and… <a>Read&nbsp;More</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="block">
                                        <div class="tags">
                                            <a href="" class="tag">
                                                <span>Info</span>
                                            </a>
                                        </div>
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                            </h2>

                                            <div class="byline">
                                                <span>13 hours ago</span> by <a>Jane Smith</a>
                                            </div>
                                            <p class="excerpt">Film festivals used to be do-or-die moments for movie
                                                makers. They were where you met the producers that could fund your
                                                project, and if the buyers liked your flick, they’d pay to Fast-forward
                                                and… <a>Read&nbsp;More</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div class="x_title">
                                    <h2>Statistik Pengguna</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="tile-stats">
                                        <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                                        </div>
                                        <div class="count">{{ elders.count }}</div>
                                        <h3>Orang tua</h3>

                                        <p>yang dirawat.</p>
                                    </div>
                                    <div class="tile-stats">
                                        <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                                        </div>
                                        <div class="count">{{ user.notif_receiver.count }}</div>
                                        <h3>Notifikasi</h3>

                                        <p>diterima.</p>
                                    </div>
                                    <div class="tile-stats">
                                        <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                                        </div>
                                        <div class="count">{{ user.notif_sender.count }}</div>
                                        <h3>Notifikasi</h3>

                                        <p>dikirimkan.</p>
                                    </div>
                                    <div class="tile-stats">
                                        <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                                        </div>
                                        <div class="count">{{ caregiver.by_user.count }}</div>
                                        <h3>Catatan</h3>
                                    </div>
                                    
                                </div>
                            </div>
                            {% if elders %}
                            <div>
                                <div class="x_title">
                                    <h2>Orang Tua</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <ul tabindex="5001" style="overflow: hidden; cursor: grab;"
                                    class="list-unstyled top_profiles scroll-view">
                                    {% for elder in elders %}
                                    <li class="media event">
                                        <a class="pull-left border-{% cycle 'aero' 'green' as rowcolors %} profile_thumb">
                                            <i class="fa fa-user {{ rowcolors }}"></i>
                                        </a>

                                        <div class="media-body">
                                            <a class="title" href="#">{% if elder.gender == 'l' %}Bapak{% else %}Ibu{% endif %} {{ elder.user.first_name }} {{ elder.user.last_name }}</a>
                                            {% with activity=elder.get_last_activity %}
                                            {% if activity %}
                                            <p><strong>{{ activity.get_type_display }} :</strong> {{ activity.get_condition_display }} </p>

                                            <p>
                                                <small>{{ activity.value }}</small>
                                            </p>
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="">
                    <p class="pull-right">Gentelella Alela! a Bootstrap 3 template by <a>Kimlabs</a>. |
                        <span class="lead"> <i class="fa fa-paw"></i> Gentelella Alela!</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
{% endblock 'maincontent' %}

{% block 'extra_footer' %}
{% if blood or heartrate or daily_condition %}
<script type="text/javascript">
    var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];
    $(function () {
        var blood = [];
        var heart = [];
        var daily = [];
        var d1 = [];
        {% for track in heartrate %}heart.push([new Date("{{ track.created|date:"m-d-Y" }}").getTime(), {{ track.value }}]);
        {% endfor %}{% for track in blood %}blood.push([new Date("{{ track.created|date:"m-d-Y" }}").getTime(), {{ track.value }}]);
        {% endfor %}{% for track in daily_condition %}daily.push([new Date("{{ track.created|date:"m-d-Y" }}").getTime(), {{ track.value }}]);
        {% endfor %}

        var chartMinDate = new Date(Date.today().add(-7).days()).getTime(); //first day
        var chartMaxDate = new Date(Date.today().add(1)).getTime(); //last day

        var tickSize = [1, "day"];
        var tformat = "%d/%m/%y";

        var options = {
            grid: {
                show: true,
                aboveData: true,
                color: "#3f3f3f",
                labelMargin: 10,
                axisMargin: 0,
                borderWidth: 0,
                borderColor: null,
                minBorderMargin: 5,
                clickable: true,
                hoverable: true,
                autoHighlight: true,
                mouseActiveRadius: 100
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    lineWidth: 2,
                    steps: false
                },
                points: {
                    show: true,
                    radius: 4.5,
                    symbol: "circle",
                    lineWidth: 3.0
                }
            },
            legend: {
                position: "ne",
                margin: [0, -25],
                noColumns: 0,
                labelBoxBorderColor: null,
                labelFormatter: function (label, series) {
                    return label + '&nbsp;&nbsp;';
                },
                width: 40,
                height: 1
            },
            colors: chartColours,
            shadowSize: 0,
            tooltip: true,
            tooltipOpts: {
                content: "%s: %y.0",
                xDateFormat: "%d/%m",
                shifts: {
                    x: -30,
                    y: -50
                },
                defaultTheme: false
            },
            yaxis: {
                min: 0
            },
            xaxis: {
                mode: "time",
                minTickSize: tickSize,
                timeformat: tformat,
                min: chartMinDate,
                timezone: "browser",
                max: chartMaxDate
            }
        };
        var plot = $.plot($("#placeholder33x"), [{
            label: "Rata-rata Detak Jantung Harian",
            data: heart,
            lines: {
                fillColor: "rgba(150, 202, 89, 0.12)"
            },
            points: {
                fillColor: "#fff"
            }
        }, {
            label: "Rata-rata Kadar Gula Darah Harian",
            data: blood,
            lines: {
                fillColor: "rgba(150, 202, 89, 0.12)"
            },
            points: {
                fillColor: "#fff"
            }
        }, {
            label: "Rata-rata Kondisi Harian",
            data: daily,
            lines: {
                fillColor: "rgba(150, 202, 89, 0.12)"
            },
            points: {
                fillColor: "#fff"
            }
        }], options);
    });
</script>
{% endif %}
{% endblock 'extra_footer' %}