{% load staticfiles %}
{% load libs %}

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="{% url 'index' %}" class="site_title"><i class="fa fa-paw"></i>
                <span>Elder Caring</span></a>
        </div>
        <div class="clearfix"></div>
        {% if active_elder %}
        <div class="profile">
            <div class="profile_pic">
                <img src="{% if active_elder.photo %}{{ active_elder.photo.url }}{% else %}{% static 'images/user.png' %}{% endif %}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Data seputar:</span>

                <h2>{{ active_elder.user.first_name }} {{active_elder.user.last_name }}</h2>
            </div>
        </div>
        {% endif %}

        <br/>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>&nbsp;</h3>
                <ul class="nav side-menu">
                    <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Beranda</a></li>
                    <li><a><i class="fa fa-wheelchair"></i> Data Orang Tua
                        <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{% url 'parents' %}">List Orang Tua</a></li>
                            {% for elder in elders %}
                            <li><a href="{% url 'set_elder' elder.id %}?next={% firstof request.path '/' %}">{{ elder.user.first_name }} {{ elder.user.last_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a><i class="fa fa-bell-o"></i> Notifikasi
                        <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            {% if active_elder %}
                            <li><a href="{% url 'notif_elder' %}">Untuk Orang Tua</a></li>
                            {% endif %}
                            <li><a href="{% url 'notif_cg' %}">Untuk Anda</a></li>
                        </ul>
                    </li>
                    {% if active_elder %}
                    <li><a><i class="fa fa-bar-chart"></i> Riwayat Kesehatan
                        <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{% url 'kondisi_harian' %}">Kondisi Harian</a></li>
                            <li><a href="{% url 'detak_jantung' %}">Detak Jantung</a></li>
                            <li><a href="{% url 'gula_darah' %}">Gula Darah</a></li>
                            <li><a href="{% url 'disease' %}">Riwayat Penyakit</a></li>
                            <li><a href="{% url 'treatment' %}">Riwayat Perawatan Medis</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-book"></i>Catatan
                        <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{% url 'note' %}">Catatan Kondisi</a></li>
                            <li><a href="{% url 'contact' %}">Kontak Penting</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a><i class="fa fa-newspaper-o"></i> Informasi
                        <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="{% url 'info' %}">Informasi</a></li>
                            <li><a href="{% url 'tips' %}">Tips dan Trik</a></li>
                            <li><a href="{% url 'location' %}">Lokasi Penting</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'feedback' %}">
                        <i class="fa fa-exclamation-circle"></i>Berikan Feedback!</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sidebar-footer hidden-small">
            <a href="{% url 'profile' %}" data-toggle="tooltip" data-placement="top" title="Profile">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a href="{% url 'logout' %}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle"
                       data-toggle="dropdown" aria-expanded="false">
                        <img src="{% if user.member.photo %}{{ user.member.photo.url }}{% else %}{% static 'images/user.png' %}{% endif %}" alt="">{{ user.first_name }} {{ user.last_name }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                        <li><a href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                {% with unread=user.get_unread_notif %}
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number"
                       data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        {% if unread %}
                        <span class="badge bg-green">{{ unread.count }}</span>
                        {% endif %}
                    </a>
                    <ul id="menu1"
                        class="dropdown-menu list-unstyled msg_list animated fadeInDown"
                        role="menu">
                        {% for n in unread %}
                        <li>
                            <a href="{% url 'dt_notif_cg' n.id %}">
                                <span class="image">
                                    <img src="{% if n.sender.member.photo %}{{ n.sender.member.photo.url }}{% else %}{% static 'images/user.png' %}{% endif %}" alt="Profile Image"/>
                                </span>
                                <span>
                                <span>{{ n.sender.first_name }} {{ n.sender.last_name }}</span>
                                <span class="time">{{ n.created|age }}</span>
                                </span>
                                <span class="message">{{ n.title|truncatechars:40 }}</span>
                            </a>
                        </li>
                        {% endfor %}
                        <li>
                            <div class="text-center">
                                <a href="{% url 'notif_cg' %}">
                                    <strong>Lihat semua notifikasi</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                {% endwith %}
            </ul>
        </nav>
    </div>

</div>
