{% extends 'base.html' %}
{% load staticfiles %}
{% block 'title' %}Elder Caring | Catatan "{{ note.title }}"{% endblock 'title' %}
{% block 'maincontent' %}
    <div class="right_col" role="main">
        <br/>

        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Catatan "{{ note.title }}"</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-12">
                                <div class="col-md-4 text-right">Isi :</div>
                                <div class="col-md-8">{{ note.content }}</div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 text-right">Waktu :</div>
                                <div class="col-md-8">{{ note.modified|date:"d/m/Y H:i" }}</div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4 text-right">Dibagikan :</div>
                                <div class="col-md-8">{{ medis.get_sharable_display|title }}</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="ln_solid"></div>
                            <div class="col-md-12">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="{% url 'treatment' %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Kembali</a>
                                    <a href="{% url 'edit_treatment' medis.id %}" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
                                    <a href="{% url 'del_treatment' medis.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Hapus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock 'maincontent' %}