{% extends 'base.html' %}
{% load staticfiles %}
{% block 'title' %}Elder Caring | Edit {{ notif.title }}{%endblock 'title' %}
{% block 'extra_header' %}
 <link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
{% endblock 'extra_header' %}
{% block 'maincontent' %}
    <div class="right_col" role="main">
        <br/>

        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Edit {{ notif.title }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="x_content">
                        <form method="post" action="" enctype="multipart/form-data" class="form-horizontal form-label-left">
                        {% csrf_token %}
                            {% if error %}
                            <div class="alert alert-danger alert-dismissible fade in text-left" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                </button>
                                <ul>
                                {% for name, errors in error.items %}
                                    {% if name == 'birthday' %}
                                    {% for e in errors %}
                                    <li>Tanggal Lahir: {{ e }}</li>
                                    {% endfor %}
                                    {% else %}
                                    {% for e in errors %}
                                    <li>{{ name }}: {{ e }}</li>
                                    {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        {% elif success %}
                            <div class="alert alert-success alert-dismissible fade in text-left" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                </button>
                                {{ success }}
                            </div>
                        {% endif %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Judul
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="title" id="title" type="text" class="form-control col-md-7 col-xs-12" value="{{ notif.title }}" required="" />
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="content">Pesan
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea name="content" id="content" type="text" class="form-control col-md-7 col-xs-12" required="" />{{ notif.content }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="level">Tingkat Kepentingan
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" name="level" id="level" required="">
                                        <option value="1">Info</option>
                                        <option value="2">Warning</option>
                                        <option value="3">Emergency</option>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthday">Dijalankan Pada
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" id="invoked_on" name="invoked_on" type="text" placeholder="Dijalankan pada" value="{{ notif.invoked_on|date:'m/d/Y H:i' }}" required=""/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="recurring">Diulang Setiap
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" id="recurring" name="recurring" required="">
                                        <option value="1">Sekali</option>
                                        <option value="2">Harian</option>
                                        <option value="3">Mingguan</option>
                                        <option value="4">Bulanan</option>
                                        <option value="5">Weekday</option>
                                        <option value="6">Weekend</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="{% url 'parents' %}" class="btn btn-primary">Kembali</a>
                                    <input type="submit" name="add" class="btn btn-success" value="Simpan"/>
                                </div>
                            </div>
                            
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock 'maincontent' %}
{% block 'extra_footer' %}
<script type="text/javascript" src="{% static 'js/moment.min2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
    $("#level").val("{{ notif.level }}");
    $("#recurring").val("{{ notif.recurring }}");
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
            format: "MM/DD/YYYY HH:mm"
        });
    });
</script>
{% endblock 'extra_footer' %}