{% extends 'base.html' %}
{% load staticfiles %}

{% block 'maincontent' %}
<div class="right_col" role="main">
    <br />
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Orang Tua yang Dirawat</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="{% static 'images/picture.jpg' %}"
                                    class="img-circle profile_img">
                            </div>
                            <div class="col-md-8">
                                <h3>Bunda Kirana</h3>
                                <div>Jl. Dewi Sartika Raya, No. 14, Gunung Pati, Semarang</div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="margin-top:30px;"
                                    class="btn btn-round btn-primary">5KBCX6</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <img src="{% static 'images/picture.jpg' %}"
                                    class="img-circle profile_img">
                            </div>
                            <div class="col-md-8">
                                <h3>Bunda Kirana</h3>
                                <div>Jl. Dewi Sartika Raya, No. 14, Gunung Pati, Semarang</div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="margin-top:30px;"
                                    class="btn btn-round btn-primary">5KBCX6</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <img src="{% static 'images/picture.jpg' %}"
                                    class="img-circle profile_img">
                            </div>
                            <div class="col-md-8">
                                <h3>Bunda Kirana</h3>
                                <div>Jl. Dewi Sartika Raya, No. 14, Gunung Pati, Semarang</div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="margin-top:30px;"
                                    class="btn btn-round btn-primary">5KBCX6</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock 'maincontent' %}
